{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section class="hero_image">
        <div class="hero_wrapper">
            <h1>THE FOOD YOU LOVE</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Ipsam nostrum natus, nihil sed voluptas cum mollitia quisquam optio ex libero nulla  <br> cumque veniam assumenda et deleniti voluptatem praesentium esse architecto!</p>
            <form class="form_code">
                <input class="post_code" type="text" placeholder="Enter your postcode">
                <button type="submit">FIND FOOD</button>
            </form>
        </div>
    </section>
</body>
</html>