<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="3px">Display Webpage
        <tr>
            <th>Webpage Name</th>
            <th>Url</th>
            <th>Email</th>
        </tr>
        {% for i in QLWO %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.url}}</td>
            <td>{{i.email}}</td>

        </tr>
        {% endfor %}
        </table>
    </center>
</body>
</html>