{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstarp-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp-grid.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp-grid.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp-reboot.min..css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp-reboot.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp-reboot.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp-utilities.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp-utilities.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp-utilities.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp-utilities.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp.rtl.min.css' %}">
</head>
<body>
    <h1 class="btn btn-close-white">Download File</h1>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.esm.js' %}"></script>
    <script src="{% static 'js/bootstrap.esm.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>